__pycache__/
.vscode
.pylintrc
.python-version
*.py[cod]
*.lock
/temp/
/.venv/
.DS_Store
*.log
/saved_info/
/data/
/wandb/
/autoencoder/weight/*
!/autoencoder/weight/Place your weight files here
.ipynb_checkpoints/
/features/
/wddgan_generated_samples/
/TEST/
/score_sde/build/
/score_sde/dist/
/score_sde/fused.egg-info/
/score_sde/upfirdn2d_op.egg-info/
/score_sde/*.so
*.txt
*.npy
score_sde/op/build/
